.clue:hover {
  text-decoration: line-through;
  color: red;
}

.ol {
  display: block;
}
.container {
  .fieldset {
		padding: 2.5%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: rgb(180, 174, 232);
    display: flex;
    justify-content: center;
    border-radius: 20px;

    legend {
      font-size: 30px;
      margin-left: auto;
      margin-right: auto;
      background: rgb(255, 227, 254);
      border-radius: 80px;
    }

    li {
      list-style: disc;
      margin-top: 20px;
    }


    button {
      background: rgb(255, 227, 254);
    }

    form {

      label {
        font-size: 20px;
        margin-right: 30px;
        width: 130px;
        float:left;
      }

      .titleform {
        margin-top: 40px;
      }

      .clueform {
        button {
          margin-left: 20px;
        }
      }

      .clues {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20PX;

        p {
          font-size: 20px;
        }
      }

      .submit {
        display: flex;
        justify-content: center;
				margin-top: 30px;
        margin-bottom: 30px;
      }

      input {
        border-style: none;
      }

    }
  }
}
